 * {
    font-family: 'Roboto', sans-serif;
 }

 html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
 }

 html {
    font-size: 16px;    
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;

}

.sidebar {
    background-color: #1992d4;
    display: grid;
    grid-template-rows: 1fr 3fr 1.5fr 1fr;
    grid-template-columns: 1fr;
    gap: 5vh;
    height: 100vh;
}

.sidebar-logo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
}

.sidebar-dashboard-icon {
    justify-self:  center;
    width: 3.5vw;
    height: 7vh;
}

.sidebar-text-dashboard {
    font-size: 3vh;
    justify-self: flex-start;
}

.sidebar-main {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr 2fr;
    
}

.sidebar-text {
    align-self: center;
    font-size: 2.75vh;
}

.sidebar-main-icon {
    width: 2vw;
    height: 4vh;
    justify-self: center;
    align-self: center;
}

.sidebar-help {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 2fr;
}

.messages {
    max-height: 80%;
}

.main-area {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 1% 5%;
}

.search-and-user-info {
    display: grid;
    grid-template-columns: 3fr 0fr 1.5fr;
    justify-content: space-between;
    column-gap: 10%;
}

.search-section {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
}

.search-icon {
    width: 1.5vw;
    height: 3vh;
    justify-self: center;
    align-self: center;
}

input {
    height: 40%;
    border-radius: 20px;
    padding: 0.5vmin 4vmin;
    border: none;
    outline: none;
    font-size: calc(12px + 1vmin);
    background-color: #e1dfdf;
}

.user-info-section {
    display: grid;
    grid-template-columns: 1fr 1fr 2.5fr;
    align-items: center;
    gap: 1%;
}

.current-user-name {
    font-size: calc(14px + (0.75vmin));
    font-weight: bold;
}

.greeting-and-actions {
    display: grid;
    grid-template-columns: 1fr 0fr 1fr;
    justify-content: space-between;
    column-gap: 10%;
}

.notification-icon {
    width: 3vmin;
    height: 3vmin;
    justify-self: center;
    align-self: center;
}

.user-image-small {
    align-self: center;
    justify-self: center;
    width: 2.5vw;
    height: 5vh;
    border-radius: 50%;
}

.greetings {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 4fr;
    justify-content: start;
    align-items: center;
}

.user-image-big {
    grid-area: 1 / 1 / 3 / 2;
    align-self: center;
    justify-self: center;
    width: 4vw;
    height: 8vh;
    border-radius: 50%;
}

.greeting {
    font-weight: bold;
}

.name-and-tag {
    font-weight: bold;
    font-size: calc(14px + (1.25vmin));
}

.actions {
    display: grid;
    align-items: center;
    justify-items: end;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}


button {
    padding: 1.5vmin 6vmin;
    border-radius: 25px;
    background-color: #1992d4;
    border: none;
    color: #f9f9f8;
    font-size: calc(12px + 0.5vmin);
    font-weight: 600;
    box-shadow: 1px 4px 6px 1px rgb(0 0 0 / 20%);
}

.main-section {
    background-color: #e1dfdf;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding:  2vmin;
    gap: 3vmin;
    box-shadow: inset 0px 5px 6px 1px rgb(0 0 0 / 20%);

}

.your-projects-heading {
    font-size: calc(14px + 0.75vmin);
    font-weight: bold;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.card {
    display: grid;
    grid-template-rows: 1fr 2.5fr 1fr;
    padding: 1vmin 2vmin;
    background-color: white;
    gap: 1vmin;
    border-radius: 15px;
    border-left: 10px solid;
    border-color: #f0b429;    ;
    box-shadow: 1px 4px 6px 1px rgb(0 0 0 / 20%);
 
}

.project-name {
    font-size: calc(14px + 0.75vmin);
    font-weight: bold;
    align-self: flex-end;
}

.project-text {
    font-size: calc(12px + 0.75vmin);
}

.project-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: end;
    margin-left: 50%;
}

.card-icon {
    width: 2.5vmin;
    height: 2.5vmin;
}

.main-section-right-side {
    display: grid;
    grid-template-rows: 1fr 1.3fr;
    
}

.announcements-heading {
    font-size: calc(14px + 0.75vmin);
    font-weight: bold;
}

.announcements-section {
    display: grid;
    padding: 1vmin 2vmin;
    background-color: white;
    gap: 1vmin;
    border-radius: 15px;
    box-shadow: 1px 4px 6px 1px rgb(0 0 0 / 20%);

}

.announcement {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.announcement-heading {
    font-size: calc(12px + 0.75vmin);
    font-weight: bold;
}


.trending-heading {
    font-size: calc(14px + 0.75vmin);
    font-weight: bold;
}

.trending-wrapper {
    align-self: center;
}

.trending-section {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding: 1vmin 2vmin;
    background-color: white;
    gap: 1vmin;
    border-radius: 15px;
    gap: 10px;
    align-self: center;
    box-shadow: 1px 4px 6px 1px rgb(0 0 0 / 20%);
    margin-bottom: 50px;
}

.trending-user-tag {
    font-weight: 600;
}

.trending-user {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

hr {
    width: 100%;
    height: 2px;
    background-color: #d2d2d2    ;
    margin: 0;
    border: 0;
}

